<!DOCTYPE html>
<html>

<head>
    <title>Live Location Map</title>
    <meta charset="utf-8" />
    <script type='text/javascript'
        src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&key=AlL9a7bE60Z1A_6ZcAohvDnLyUwmAarV9kqpdntTKJiDrMS4p3AahnJVvFOrzwYE'
        async defer></script>
    <script>
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map('#map', {
                zoom: 15
            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var loc = new Microsoft.Maps.Location(11.078634336616831, 76.10100010406256);
                    map.setView({ center: loc });

                    var pin = new Microsoft.Maps.Pushpin(loc, { title: 'Your location' });
                    map.entities.push(pin);
                });
            } else {
                // Browser doesn't support Geolocation
                alert("Your browser doesn't support Geolocation.");
            }
        }
    </script>
    <style>
        #map {
            width: 100%;
            height: 600px;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        video {
            width: 500px;
            height: 500px;
            background-color: black;
        }
    </style>
</head>

<body onload="loadMapScenario()">

    <img src="{{ url_for('video') }}" width="640" height="480">
    <div id="map"></div>
</body>

</html>